/* Estrutura da pagina*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

html{
    font-family:  "Source Sans Pro", sans-serif;
    scroll-behavior: smooth;
}


body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 6000px;
    background-color: rgb(220, 220, 220);
}


/* Estrutura da pagina*/


/*Cabeçalho*/
header{
    background-color: rgb(91, 48, 119);
    max-height: 75px;
    max-width: 100vw;
    width: 100vw;
    scrollbar-width: 0;
    scrollbar-color: (rgb(7, 146, 238));
}

.scrolling-text {
    position: fixed; /* Fixa o elemento na tela */
    top: 20px; /* Define a posição inicial no meio da tela verticalmente */
    transform: translateY(-50%); /* Ajusta verticalmente para o centro real da tela */
}

header li{
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 12px;
    gap: 10px;   
}


header a{
    text-decoration: none;
    color: white;
}

header h1{
    font-size: 13px;  
}

header h3{
    padding-left: 6px;
    font-size: 28px;
    position: relative;
    font-family:'Courier New', Courier, monospace;
}

.entrega{
    background-color: white;
    width: fit-content;
    border-radius:3px ;
    padding: 0px;


    font-size: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(91, 48, 119);

    display:flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: -12px;
    
}


/*Cabeçalho*/

/*Topo*/

section{
    overflow-y: scroll;
    overflow-x:hidden;
    justify-content: center;
 
}

section li{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;


}

section h1{
    margin-top: 50px;

    font-size: min(40px,8vw);
    color: rgb(62, 219, 62);
    letter-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;

    margin-bottom: -20px;
}

section h2{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(62, 219, 62);
    font-size: min(30px,6vw);
}

section h3{
    margin-top: -10px;

    background-color: white;
    border-radius: 5px;

    color:rgb(12, 155, 55);
    padding: 7px;
    font-size: min(20px,4vw);
}

section h4{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-top: -5px;
    color: rgb(255, 255, 255);
    font-size: min(17px,3.8vw);
}

section::-webkit-scrollbar {
    width: 0;
}


/*Topo*/

/*Facilitador de scroll*/

.scroller {
    overflow-y: hidden;
    overflow-x: auto;

    max-width: 100vw;
    background-color: rgb(255, 255, 255);
}



.scroller nav{
    width: 250vw;

    display: flex;
    flex-direction: row;

    max-height: 45px;
}

.scroller::-webkit-scrollbar {
    width: 0;
    height: 0;
}




.scroller a{
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    text-decoration: none;
    color: rgb(87, 82, 82);
    font-size: clamp(10px,5vw,18px);
}

/*Facilitador de scroll*/

/*Catalogo*/

.catalogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.principal{ 
    margin-top: 20px;

    background-color: white;
    width: min(1000px,90vw);
    border-radius: 5px;

    box-shadow: 0px -2px 0px 0px blueviolet;
}

.principal h1{
    margin-top: 0;
    margin-left: 10px;

    font-family: 'Oswald', sans-serif;
    font-size: clamp(15px,8vw,25px);
    color: blueviolet;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;

}

.principal h2{
    margin-left: 10px;

    font-size: min(15px,6vw);

}





/*Catalogo*/

/*Imagens*/

    /*Header*/
    .img_limit{
        height: 22px;
        width: auto;
    }

    /*Header*/

    /*Background*/

    .sua_imagem{
    background-color: black;
    width: 100vw;
    height: 400px;
    }

    .front_img{
        margin-top: 80px;

        width: 80px;
        height: auto;

        background-color: rgb(62, 219, 62);
        padding: 5px;
        border-radius: 50px;

    }

    /*Background*/

    .icones{
        width: clamp(15px,8vw,20px);
    }

/*Imagens*/